<!DOCTYPE html>
<html lang="en">
     <!-- head -->
      {% include head.html %}

<body>
<!-- nav -->
{% include nav.html %}

<main class="page-content" aria-label="Content">
      <div class="wrapper">
      
       <div id="content">{{content}}</div>
     
<!-- Blog posts list-->
  {% for post in site.posts %}
    <ul class="post-list">
        <li>
        <div class="blog-post">
          <div class="row">
            <div class="col-md-2">
                {% if post.image %}
                <div class="image-mini" style="background-image: url({{ post.image }})">
                </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h3>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </h3>
                <small>Category: {{ post.categories }}</small>
                <p>{{ post.excerpt }}</p>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  {% for tag in post.tags %}
                <span>   {{ tag }}</span>
                {% endfor %}
              </div>
          </div>
          </div>
          

        </li>
    </ul>
   


      {% endfor %}
      </div>
</main>
    

<!-- Footer -->
{% include footer.html %}

</body>

</html>
