<!DOCTYPE html>
<html lang="en">
     <!-- head -->
      {% include head.html %}

<body>
<!-- nav -->
{% include nav.html %}

<main class="page-content" aria-label="Content">
      <div class="wrapper">
      
       <div id="content">{{content}}</div>
  
  <!-- Category count list -->
    {% assign total = 0 %}
  {% for post in site.posts %}
     {% if post.category == "design" %}
      {% assign total = total | plus: 1 %}
     {% endif %}
  {% endfor %}
<ul>

<ul class="tag-box inline">
  {% for category in site.categories %}
    <div><a href="{{ site.baseurl }}/category/{{ category[0] }}">{{ category[0] | capitalize }} <span> ({{ category[1].size }}) </span></a></div>
  {% endfor %}
</ul>




</main>
    

<!-- Footer -->
{% include footer.html %}

</body>

</html>
