<!DOCTYPE html>
<html lang="en">
       <!-- head -->
      {% include head.html %}
  <body>
       <!-- nav -->
      {% include nav.html %}
     <!-- Footer -->
<main class="" aria-label="Content">
<div class="hero">
		<div id="typed-strings" class="myheading text-center">
        <p>Hi, I'm Rita</p> 
		    <p>I'm a <strong>UX Product Designer</strong> and <strong>Data Analyst</strong></p>
    </div>
    </div>

      <div class="wrapper">
        <div id="content">{{content}}</div>
      </div>   
</main>

     <!-- Footer -->
      {% include footer.html %}
  </body>

  </html>