---
layout: page
---

<div class="row">
		<div class="col-md-6">
		<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/6a5a1738754429.576dad90d9f8c.png" alt="" class="image" /></div>
		<div class="col-md-6">
	<h4>Concept Site</h4>	
			<p></p>

</div>
<div class="row">
		<div class="col-md-6">
		<img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/dbfe5d19843663.562e5dda4d842.gif" alt="" class="image" /></div>
		<div class="col-md-6">
	<h4>Healthcheck Quiz</h4>	
			<p>This is a quiz I coded using Bootstrap and PHP.</p>
			<p>20 questions to discover if you need procurement in your life!</p>
</div>
		</div>
<div class="row">
	<div class="col-md-6">
	<h4>Concept Website</h4>	
	<p>I created this concept website after a Kayaking trip on the Boyne River in Ireland. It was breathtaking!</p>
</div>
	<div class="col-md-6">	
	<img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/c4b55720532577.562eceb7be57f.png" alt="Boyne Valley Kayak website" class="image" /></div>

</div>
<div class="row">
<div class="col-md-6">
	<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/6f516938592359.57680be463cf5.png" alt="Gibraltar Port Authority" class="image"/>
</div>
<div class="col-md-6">
<h4>Gibraltar Port Authority Invitation</h4>	
	<p>This is an invitation for a presentation and luncheon.</p>
</div>
</div>
</section>
</div>			