<!DOCTYPE html>
<html lang="en">
       <!-- head -->
      {% include head.html %}
  <body>
       <!-- nav -->
      {% include nav.html %}
     <!-- Footer -->
<main class="page-content" aria-label="Content">
        <!-- image-->
     <div class="image-large-post" style="background: url({{ page.image }})">
        <!-- Title-->
        <h2 class="post-heading">{{ page.title }} </h2>
     </div>
      <div class="wrapper">
   
     <!--Category-->
        <small>Category: {{ page.categories }}</small>
     <!--Tags-->
           {% for tag in post.tags %}
                <span>   {{ tag }}</span>
           {% endfor %}
     <!--Content-->
        <div id="content">{{content}}</div>
      </div>   
</main>

     <!-- Footer -->
      {% include footer.html %}
  </body>

  </html>